<mat-card>
    <mat-card-title style="text-align:center; font-size:x-large; padding-top: 30px; padding-bottom: 30px">Login to MultiWallet</mat-card-title>
    <mat-card-content style="text-align: center;" fxLayoutAlign="space-around center">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password">
      </mat-form-field>
      <br>
      <div style="padding-top: 20px;">
        <button (click)="login()" mat-raised-button style="width: 20%;margin-right: 30px;">Login</button>
        <button (click)="loginWithGoogle()" mat-raised-button class="google-login-btn">Google
        </button>
        
        <!-- <asl-google-signin-button style="width:20%"></asl-google-signin-button> -->
        <p style="padding-top: 30px;">Don't have an account? <a routerLink="/create-account">Create one</a></p>
      </div>

    </mat-card-content>
</mat-card>